.AddTransactionForm {
  transition: filter 1s ease;
  will-change: filter;
  position: absolute;
}

.AddTransactionForm a {
  margin-left: 20px;
}

.AddTransactionForm form {
  padding: 10px;
}

.AddTransactionForm ul {
  list-style-type:none;
  list-style-position:outside;
}

.AddTransactionForm label {
  display: inline-block;
  width: 9em;
  padding: 10px;
}

.AddTransactionForm select, input {
  color: var(--app-text-color);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--ease-transparent);
  padding: 5px 10px;
}

.AddTransactionForm option {
  color: #000;
}

.AddTransactionForm option:hover {
  background-color: #eee;
}

.AddTransactionForm .Btn[name = "submit"] {
  margin-top: 10px;
}
