@import url(var.css);

body {
  perspective: var(--app-perspective);
}

.App {
  background-color: var(--app-background-color);
  min-height: 100vh;
  color: var(--app-text-color);
  font-family: var(--app-font-family);
  font-size: var(--app-font-size);
  overflow-y: auto;
  overflow-x: hidden;
  will-change: opacity, transform;
  animation: loaded 1s ease;
  box-shadow: 0 5px 150px 30px rgba(0, 0, 0, 0.3);
}

.App__header {
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-color-main);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  margin-bottom: 20px;
}

.App__header_menu {
  margin-left: 10px;
}

.App__header_text {
  flex: 0 1 100%;
  display: flex;
  justify-content: left;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

.App__header_ins_panel {
  flex: 0 0 auto;
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding-left: 20px;
  position: absolute;
}

.warning-text {
  margin-top: 15px;
  color: #ef5350;
}

.fade-enter {
  transform: translateX(100vw);
  opacity: 0;
}

.wrapper.fade-enter {
  transform: translateX(-100vw);
}

.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--fade-animation-duration);
  transition-timing-function: ease;
}

.wrapper.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--fade-animation-duration);
  transition-timing-function: ease;
}

.fade-enter-done {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit-active {
  transform: translateX(-100vw);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--fade-animation-duration);
  transition-timing-function: ease;
}

.AddTransactionForm.fade-exit-active {
  transform: translateX(100vw)
}

.fade-exit-done {
  transform: translateX(-100vw);
  opacity: 0;
}

a.nav_link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .App__header_text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .App__header_ins_panel {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}

@keyframes loaded {
  from {
    opacity: 0;
    transform: rotateY(30deg) translateZ(-1000px);
  }

  to {
    opacity: 1;
    transform: rotateY(0) translateZ(0);
  }
}
