form {
  padding: 10px;
}

form ul {
  list-style-type:none;
  list-style-position:outside;
}

form li {

}

label {
  display: inline-block;
  width: 9em;
  padding: 10px;
}

input, select {
  clear: both;
}

input[type="submit"] {
  
}
