:root {
  --app-header-height: 60px;
}

.App {
  background-color: #fafafa;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.App-header {
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196F3;
  box-shadow: 0 3px 5px #ccc;
  margin-bottom: 20px;
}

.App-header .App-logo {
  color: white;
  font-size: 2rem;
  font-weight: 500;

}

.App-main {

}

.App-footer {

}

.wrapper {
  padding-left: 20px;
}

.filters-group {
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
}

td, th {
  padding: 10px;
  text-align: left;
}

th {
  border-bottom: 1px solid #ccc;
  color: #2196F3;
}

.warning-text {
  color: #ef5350;
}
