.btn-toggle {
    all: unset;
    display: inline-bloc;
    position: relative;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #42A5F5;
    color: white;
    border-radius: 2px;
    padding: 0 2rem;
    margin: 10px 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 2px 3px #ccc;
}

.btn-toggle:hover {
    background-color: #1E88E5;
    box-shadow: 0 3px 5px #cdcdcd;
}

.btn-toggle::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 15%;
    right: 15%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}

.btn-toggle.active {
  background-color: #2196F3;
}

.btn-toggle.active::before {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    left: 12%;
    right: 12%;
}
